h1 {
	color: #8B008B;
	text-align: center;
	font-weight: bold;	
}
table {
	border: 1px solid silver;
}
td:hover {
	background-color: yellow;
	color: black;
}
tr, th {
	background-color: #B0C4DE;
	color: cornsilk;
}
tr, td {
	 background-color: #2F4F4F;
	 color: white;
}